---
import Layout from '../layouts/Layout.astro';
// const about = await Astro.glob('../content/about.mdx');
// const obj = Object.assign({}, ...about);
// const { Content, frontmatter } = obj;
const pageTitle = 'About Us';
import { Image } from 'astro:assets';
import banner from '../img/banner.jpg';
---

<Layout {pageTitle}>
	<div class="container top">
		<div class="flex">
			<h1>{pageTitle}</h1>
		</div>

		<div class="flex">
			<div>
				<h2>Heading 2</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis porttitor mauris. Sed quis nulla malesuada, imperdiet ipsum eleifend, pharetra lacus. Maecenas vehicula tincidunt
					lorem sed elementum. Vestibulum luctus consectetur risus at aliquet. Donec ac sapien malesuada, congue neque ultrices, fringilla velit. Suspendisse potenti. Maecenas ac elit sem. Suspendisse
					malesuada ligula eu efficitur vulputate.
				</p>
				<Image src={banner} alt="" />
			</div>
			<div>
				<h3>Heading 3</h3>
				<p>
					Mauris tincidunt urna a elit ultricies porttitor. Donec vestibulum nibh euismod lectus rutrum sollicitudin. Aliquam luctus urna volutpat erat malesuada sodales. Etiam dapibus interdum est,
					sit amet aliquet turpis accumsan non.
				</p>
			</div>
			<div>
				<h4>Heading 4</h4>
				<p>
					Mauris tincidunt urna a elit ultricies porttitor. Donec vestibulum nibh euismod lectus rutrum sollicitudin. Aliquam luctus urna volutpat erat malesuada sodales. Etiam dapibus interdum est,
					sit amet aliquet turpis accumsan non.
				</p>
			</div>
		</div>
	</div>
</Layout>
