---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Contact Us';
import { Image } from 'astro:assets';
import banner from '../img/banner.jpg';
---

<Layout title="About Us">
	<div class="banner-img">
		<Image src={banner} alt="Banner Image" />
	</div>
	<div class="container top">
		<div class="flex">
			<h1>{pageTitle}</h1>
		</div>
	</div>
	<div class="container bottom">
		<div class="flex">
			<div>copy...</div>
		</div>
	</div>
</Layout>
