---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Contact Us';
import { Image } from 'astro:assets';
import banner from '../img/banner.jpg';
---

<Layout title="About Us">
	<div class="banner-img">
		<Image src={banner} alt="Banner Image" />
	</div>
	<div class="container top">
		<div class="flex">
			<h1>{pageTitle}</h1>
		</div>
	</div>
	<div class="container bottom">
		<!-- reCAPTCHA -->
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<form action="thankyou.astro" method="POST" id="mc-embedded-subscribe-form">
			<div>
				<label for="First Name">First Name</label>
			</div>
			<div>
				<input maxlength="30" class="firstName" name="FirstName" type="text" placeholder="First Name" autocomplete="given-name" />
				<span>FIRST NAME</span>
			</div>

			<div>
				<label for="Last Name">Last Name</label>
			</div>
			<div>
				<input maxlength="40" class="lastName" name="LastName" type="text" placeholder="Last Name" autocomplete="family-name" />
				<span>LAST NAME</span>
			</div>

			<div>
				<label for="Email">Email</label>
			</div>
			<div>
				<input maxlength="40" class="email" name="Email" type="email" placeholder="Email" autocomplete="on" required />
				<span>EMAIL</span>
			</div>

			<div>
				<label for="Phone">Phone</label>
			</div>
			<div>
				<input maxlength="40" class="phone" name="Phone" type="tel" placeholder="Phone" autocomplete="on" />
				<span>PHONE</span>
			</div>

			<div>
				<select name="" title="Please select one">
					<option value="">Please select one</option>
					<option value="Internet">INTERNET</option>
				</select>
			</div>

			<label class="label">
				<input type="radio" name="Are_You_a_Realtor__c" value="true" class="radio-input" />
				<div class="radio-design"></div>
				<div class="label-text"></div>
			</label>

			<br />

			<label class="label">
				<input type="radio" name="Are_You_a_Realtor__c" value="false" class="radio-input" />
				<div class="radio-design"></div>
				<div class="label-text"></div>
			</label>

			<br />

			<label class="label">
				<input type="checkbox" name="Unit_Type_MS__c[]" value="Real Estate" class="checkbox-input" id="realEstate" />
				<div class="checkbox-design"></div>
				<div class="label-text"></div>
			</label>

			<br />

			<label class="label">
				<input type="checkbox" name="Unit_Type_MS__c[]" value="Marina" class="checkbox-input" id="marina" />
				<div class="checkbox-design"></div>
				<div class="label-text"></div>
			</label>

			<div>
				<textarea class="comments" rows="5" maxlength="2000" name="COMMENTS" placeholder="Comments"></textarea>
				<span>Comments</span>
			</div>

			<br />

			<div class="g-recaptcha" data-sitekey=""></div>

			<div id="submit-button">
				<input type="submit" name="submit" value="submit" class="button" />
			</div>

			<p class="disclaimer">Disclaimer...</p>
		</form>
	</div>
</Layout>

<style is:global>
	:root {
		--form-width: 400px;
		--input-font-clr: var(--theme-clr);
		--input-button-bg: var(--theme-clr);
		--input-font-weight: var(--theme-clr);
		--input-font-size: 16px;
		--input-font: var(--theme-font);
		--input-font-spacing: 1px;
		--input-button-bg: var(--theme-clr);
		--input-border: 1px #ccc solid;
		--input-border-radius: 3px;
		--input-padding: 0.5rem 1rem;
		--input-margin: 0 0 1rem;
		--input-background-focus: #f9f9f9;
	}

	#signupForm,
	#mc-embedded-subscribe-form {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 0.5rem;
		max-width: var(--form-width);
		width: 100%;
		border: 1px red solid;
	}

	#signupForm > div,
	#mc-embedded-subscribe-form > div {
		position: relative;
		border: none;
	}

	#signupForm > div:nth-child(odd),
	#mc-embedded-subscribe-form > div:nth-child(odd) {
		background: #ccc;
	}

	#signupForm .button,
	#mc-embedded-subscribe-form .button {
		text-transform: uppercase;
	}

	#signupForm label.error,
	#mc-embedded-subscribe-form label.error,
	#mc_embed_signup div.mce_inline_error {
		margin: -12px 0 1rem 0 !important;
		padding: 0 !important;
		background-color: transparent !important;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 9px;
		z-index: 1;
		color: var(--theme-clr);
		font-style: italic;
	}

	#signupForm p,
	#mc-embedded-subscribe-form p {
		margin-bottom: 0;
	}

	#signupForm span,
	#mc-embedded-subscribe-form span {
		position: absolute;
		top: 20px;
		right: 5px;
		font-size: 10px;
		letter-spacing: 0.5px;
		font-weight: bold;
		color: var(--theme-clr);
		text-transform: uppercase;
		font-family: var(--theme-font);
		padding: 0 3px !important;
		margin-left: 0px;
		border-radius: 2px;
		opacity: 0;
		@include transition(all 0.2s ease);
	}

	#signupForm input:focus + span,
	#signupForm textarea:focus + span,
	#signupForm input:focus ~ label + span,
	#mc-embedded-subscribe-form input:focus + span,
	#mc-embedded-subscribe-form textarea:focus + span,
	#mc-embedded-subscribe-form input:focus ~ label + span {
		opacity: 1;
		@include transition(all 0.2s ease);
	}

	.disclaimer {
		font-size: 0.75rem;
		margin-top: 1.5rem;
		color: var(--theme-clr);
		line-height: 1.4;
	}

	.grecaptcha-badge {
		z-index: 99;
	}

	.g-recaptcha {
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}

	/* ====================================
		 CONTACT FORM PLACEHOLDER
	======================================= */
	::-webkit-input-placeholder {
		color: var(--font-clr);
	}
	input::placeholder {
		color: var(--font-clr);
	}
	textarea::placeholder {
		color: var(--font-clr);
	}

	[placeholder]:focus::-webkit-input-placeholder {
		transition: opacity 0.2s 0.2s ease;
		opacity: 0;
	}

	/* =============================================
		 INPUTS & LABELS
	================================================ */
	input[type='button']:hover {
		opacity: 1 !important;
		background: var(--theme-clr);
		@include transition(all 0.2s ease);
	}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input[type='checkbox'] {
		box-sizing: border-box;
		padding: 0;
		cursor: pointer;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		height: auto;
	}

	input[type='search'] {
		box-sizing: border-box;
	}

	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	textarea {
		max-width: 100%;
		overflow: auto;
		height: auto;
		font-family: inherit;
		font-weight: var(--input-font-weight);
		background: var(--input-background);
		border-radius: var(--input-border-radius);
	}

	[type='text'],
	[type='password'],
	[type='date'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	textarea {
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: var(--input-padding);
		margin: var(--input-margin);
		font-family: var(--input-font);
		font-size: var(--input-font-size);
		font-weight: var(--input-font-weight);
		color: var(--font-clr);
		text-transform: uppercase;
		background-color: var(--input-background);
		border-radius: var(--input-border-radius);
		border: var(--input-border);
		letter-spacing: var(--input-font-spacing);
		transition:
			box-shadow 0.5s,
			border-color 0.25s ease-in-out;
	}
	[type='text']:focus,
	[type='password']:focus,
	[type='date']:focus,
	[type='email']:focus,
	[type='number']:focus,
	[type='search']:focus,
	[type='tel']:focus,
	[type='time']:focus,
	[type='url']:focus textarea:focus {
		border: 1px solid #999;
		background: var(--input-background-focus);
		outline: none;
		box-shadow: 0 0 5px #cacaca;
		transition:
			box-shadow 0.2s,
			border-color 0.2s ease-in-out;
	}

	[type='submit'],
	[type='button'] {
		border-radius: var(--input-border-radius);
	}

	/* =============================
		 INPUT LABELS
	================================ */
	.label {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		align-content: stretch;
		margin-right: 15px;
		cursor: pointer;
		transition: 0.3s;
	}

	.label:hover,
	.label:focus-within,
	.label:active {
		background: var(--background-clr);
	}

	.label-text {
		color: var(--theme-clr);
		margin-left: 7px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		font-size: 0.7rem;
		font-weight: bold;
		transition: 0.3s;
	}

	/* =============================
		 INPUT CHECKBOXES
	================================ */
	#signupForm input[type='checkbox'],
	#mc-embedded-subscribe-form input[type='checkbox'] {
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
		font: inherit;
		color: var(--theme-clr);
		width: 0.9rem;
		height: 0.9rem;
		border: 2px solid var(--theme-clr);
		border-radius: 0.15em;
		transform: translateY(-0.075em);
		display: grid;
		place-content: center;
	}

	input[type='checkbox']:checked {
		background: var(--input-checkbox-bg-clr);
	}

	input[type='checkbox']:focus {
		box-shadow: var(--input-focus-boxshadow);
	}

	[type='checkbox'] + label {
		display: inline-block;
		margin-left: 0.5rem;
		margin-right: 1rem;
		margin-bottom: 0;
		vertical-align: baseline;
	}

	.checkbox-input {
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		z-index: -1;
	}

	.checkbox-design {
		width: 14px;
		height: 14px;
		background: #f2f2f2;
		/* background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%)); */
		position: relative;
	}

	.checkbox-design::before {
		content: '';
		display: block;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: #aaa;
		transform: scale(0.8);
		transition: 0.3s;
	}

	.checkbox-input:checked + .checkbox-design::before {
		transform: scale(0);
	}

	/* =============================
		 INPUT RADIO
	================================ */
	.radio-input:checked ~ .label-text {
		color: var(--theme-clr);
	}

	.radio-input {
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		z-index: -1;
	}

	.radio-design {
		width: 16px;
		height: 16px;
		border-radius: 100%;
		background: var(--theme-clr);
		/* background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%)); */
		position: relative;
	}

	.radio-design::before {
		content: '';
		display: block;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: var(--theme-clr);
		transform: scale(0.8);
		transition: 0.3s;
	}

	.radio-input:checked + .radio-design::before {
		transform: scale(0);
	}

	/* =============================================
		 SELECT
	================================================ */
	select {
		width: 100%;
		padding: var(--input-padding);
		margin: 0 0 1rem;
		font-size: var(--input-font-size);
		text-transform: uppercase !important;
		font-weight: var(--input-font-weight);
		font-family: var(--input-font);
		letter-spacing: var(--input-font-spacing);
		line-height: normal;
		color: var(--font-clr);
		background-color: var(--input-background);
		border: var(--input-border);
		border-radius: var(--input-border-radius);
		appearance: none;
		cursor: pointer;
		background-image: url('../img/arrow-down-select.svg');
		background-size: 15px;
		background-position: right center;
		background-origin: content-box;
		background-repeat: no-repeat;
	}
	select:focus {
		outline: none;
		border: var(--input-focus-border);
		background-color: var(--input-background-focus);
		box-shadow: var(--input-focus-boxshadow);
		transition:
			box-shadow 0.5s,
			border-color 0.25s ease-in-out;
	}
	select::-ms-expand {
		display: none;
	}
	select[multiple] {
		height: auto;
		background-image: none;
	}
</style>
