---
import Layout from '../layouts/Layout.astro';
//import { pageTitle } from '../components/Constants';
//const { pageTitle } = Astro.props;
const pageTitle = 'Contact Us';
import { Image } from 'astro:assets';
import banner from '../img/banner.jpg';
---

<Layout title={pageTitle}>
	<div class="banner-img">
		<Image src={banner} alt="Banner Image" />
	</div>
	<div class="container top">
		<div class="wrapper">
			<h1 class="slideInUp">{pageTitle}</h1>
			<p>Fields marked with an astericks * are required.</p>
		</div>
	</div>
	<div class="container top bottom">
		<!-- reCAPTCHA -->
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<div class="flex">
			<div class="flex-order-1">
				<form action="thankyou.astro" method="POST" id="mc-embedded-subscribe-form" class="grid">
					<div>
						<label for="First Name" class="visuallyhidden">First Name</label>
						<input maxlength="30" class="firstName" name="FirstName" type="text" placeholder="First Name" aria-label="required" required />
						<span>FIRST NAME</span>
					</div>

					<div>
						<label for="Last Name" class="visuallyhidden">Last Name</label>
						<input maxlength="40" class="lastName" name="LastName" type="text" placeholder="Last Name" />
						<span>LAST NAME</span>
					</div>

					<div>
						<label for="Email" class="visuallyhidden">Email</label>
						<input maxlength="40" class="email" name="Email" type="email" placeholder="Email" aria-label="required" required />
						<span>EMAIL</span>
					</div>

					<div>
						<label for="Phone" class="visuallyhidden">Phone</label>
						<input maxlength="40" class="phone" name="Phone" type="tel" placeholder="Phone" />
						<span>PHONE</span>
					</div>

					<div>
						<label for="Select Options" class="visuallyhidden">Select</label>
						<select name="" title="Please select one">
							<option value="">Please select one</option>
							<option value="Internet">INTERNET</option>
						</select>
					</div>

					<div>
						<label class="label">
							<label for="Radio Buttons" class="visuallyhidden"></label>
							<input class="radio-input" type="radio" name="x" value="Yes" />
							<div class="radio-design"></div>
							<div class="label-text">Radio 1</div>
						</label>
						<label class="label">
							<label for="Radio Button" class="visuallyhidden"></label>
							<input class="radio-input" type="radio" name="x" value="No" />
							<div class="radio-design"></div>
							<div class="label-text">Radio 2</div>
						</label>
					</div>

					<div class="grid">
						<label class="label">
							<input type="checkbox" name="Names" value="" class="checkbox-input" />
							<div class="checkbox-design"></div>
							<div class="label-text">Checkbox 1</div>
						</label>

						<label class="label">
							<input type="checkbox" name="Names" value="" class="checkbox-input" />
							<div class="checkbox-design"></div>
							<div class="label-text">Checkbox 2</div>
						</label>
					</div>

					<div class="comments">
						<label for="Comments" class="visuallyhidden">Comments</label>
						<textarea class="comments" rows="5" maxlength="2000" name="COMMENTS" placeholder="Comments"></textarea>
						<span>Comments</span>
					</div>

					<!-- <div class="g-recaptcha" data-sitekey=""></div> -->

					<div id="submit-button">
						<input type="submit" name="submit" value="submit" class="button" />
					</div>
					<div><p class="disclaimer">Disclaimer...</p></div>
				</form>
			</div>
			<div class="flex-order-2">
				<Image src={banner} alt="" />
			</div>
		</div>
	</div>
</Layout>

<style is:global>
	:root {
		--form-width: 400px;
		--input-font-clr: var(--theme-clr);
		--input-button-bg: var(--theme-clr);
		--input-font-weight: 600;
		--input-font-size: 12px;
		--input-font: var(--theme-font);
		--input-font-spacing: 1px;
		--input-button-bg: var(--theme-clr);
		--input-border: 1px #ccc solid;
		--input-border-radius: 3px;
		--input-padding: 0.5rem 0.6rem;
		--input-margin: 0 0 1rem;
		--input-checkbox-bg-clr: blue;
		--input-background: #fff;
		--input-background-focus: #f9f9f9;
		--input-focus-boxshadow: 0 0 5px #ccc;
		--input-transition: all ease 0.3s;
	}

	/* ======================
		 FLEX
	========================= */
	.flex {
		gap: var(--gap-lrg);
	}

	.flex .flex-order-1 {
		order: 1;
		width: 40%;
		flex: 0 0 auto;
	}

	.flex .flex-order-2 {
		order: 2;
		flex: 1 1 0;
	}

	@media (max-width: 700px) {
		.flex .flex-order-1 {
			order: 2;
			width: 100%;
		}

		.flex .flex-order-2 {
			order: 1;
			width: 100%;
			margin-bottom: 3rem;
		}
	}

	/* ======================
		 GRID (FORM)
	========================= */
	.grid {
		display: grid;
		grid-template-columns: 50% 50%;
		align-items: baseline;
		gap: var(--gap-sm);
		margin: 0;
		width: 100%;
	}

	@media (max-width: 1000px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}

	/* ======================
		 FORM
	========================= */
	form {
		width: 100%;
		max-width: var(--form-width) !important;
		text-transform: uppercase;
		margin: 0 auto;
	}

	form > div {
		position: relative;
	}

	form .button {
		border: 0;
		padding: 0.5rem 1rem;
		background: var(--theme-clr);
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		text-transform: uppercase;
	}

	form span {
		position: absolute;
		top: 3px;
		right: 5px;
		font-size: 9px;
		letter-spacing: 0.5px;
		font-weight: bold;
		color: var(--theme-clr);
		text-transform: uppercase;
		font-family: var(--theme-font);
		padding: 0 3px !important;
		margin-left: 0px;
		border-radius: 2px;
		opacity: 0;
		transition: var(--input-transition);
	}

	form input:focus + span,
	form textarea:focus + span,
	form input:focus ~ label + span {
		opacity: 1;
		transition: var(--input-transition);
	}

	.disclaimer {
		font-size: 0.75rem;
		margin-top: 1.5rem;
		color: var(--font-clr);
		line-height: 1.4;
	}

	.grecaptcha-badge {
		z-index: 99;
	}

	.g-recaptcha {
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}

	/* ====================================
		 PLACEHOLDERS
	======================================= */
	input::placeholder {
		color: var(--theme-clr);
	}

	textarea::placeholder {
		color: var(--theme-clr);
	}

	[placeholder]:focus::-webkit-input-placeholder {
		transition: opacity 0.2s 0.2s ease;
		opacity: 0;
	}

	/* =============================================
		 INPUTS
	================================================ */
	input[type='button']:hover {
		background: var(--theme-clr);
		transition: var(--input-transition);
	}

	input[type='text'],
	input[type='password'],
	input[type='date'],
	input[type='email'],
	input[type='number'],
	input[type='search'],
	input[type='tel'],
	input[type='time'],
	input[type='url'],
	textarea {
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: var(--input-padding);
		margin: var(--input-margin);
		font-family: var(--input-font);
		font-size: var(--input-font-size);
		font-weight: var(--input-font-weight);
		color: var(--theme-clr);
		text-transform: uppercase;
		background-color: var(--input-background);
		border-radius: var(--input-border-radius);
		border: var(--input-border);
		letter-spacing: var(--input-font-spacing);
		transition:
			box-shadow 0.5s,
			border-color 0.25s ease-in-out;
	}
	input[type='text']:focus,
	input[type='password']:focus,
	input[type='date']:focus,
	input[type='email']:focus,
	input[type='number']:focus,
	input[type='search']:focus,
	input[type='tel']:focus,
	input[type='time']:focus,
	input[type='url']:focus,
	textarea:focus {
		border: var(--input-border);
		background: var(--input-background-focus);
		outline: none;
		box-shadow: var(--input-focus-boxshadow);
		transition:
			box-shadow 0.2s,
			border-color 0.2s ease-in-out;
	}

	input[type='submit'],
	input[type='button'] {
		border-radius: var(--input-border-radius);
	}

	textarea {
		max-width: 100%;
		overflow: auto;
		height: auto;
		font-family: inherit;
		font-weight: var(--input-font-weight);
		background: var(--input-background);
		border-radius: var(--input-border-radius);
	}

	/* =============================
		 LABELS
	================================ */
	label {
		font-size: var(--input-font-size);
		font-weight: var(--input-font-weight);
		line-height: 1;
	}

	.label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		transition: var(--input-transition);
		font-size: var(--input-font-size);
	}

	.label:first-child {
		margin-right: 1rem;
	}

	.label:hover,
	.label:focus-within,
	.label:active {
		background: var(--background-clr);
	}

	.label-text {
		color: var(--theme-clr);
		margin-left: 5px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		font-weight: bold;
		transition: var(--input-transition);
	}

	label.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 0;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 0;
	}

	/* =============================
		 CHECKBOXES
	================================ */
	input[type='checkbox'] {
		margin: 0;
		width: 1rem;
		height: 1rem;
		border-radius: 0.15em;
		transform: translateY(-0.075em);
		display: grid;
		place-content: center;
	}

	input[type='checkbox']:checked {
		background: var(--theme-clr);
	}

	input[type='checkbox']:focus {
		box-shadow: var(--input-focus-boxshadow);
	}

	[type='checkbox'] + label {
		display: inline-block;
		margin-left: 0.5rem;
		margin-right: 1rem;
		margin-bottom: 0;
	}

	.checkbox-input {
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		z-index: -1;
	}

	.checkbox-design {
		width: 16px;
		height: 16px;
		background: var(--theme-clr);
		/* background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%)); */
		position: relative;
	}

	.checkbox-design::before {
		content: '';
		display: block;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: #ccc;
		transform: scale(1);
		transition: var(--input-transition);
	}

	.checkbox-input:checked + .checkbox-design::before {
		transform: scale(0);
	}

	/* =============================
		 RADIO BUTTONS
	================================ */
	.radio-input:checked ~ .label-text {
		color: var(--theme-clr);
	}

	.radio-input {
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 1px;
		opacity: 0;
		z-index: -1;
	}

	.radio-design {
		width: 16px;
		height: 16px;
		border-radius: 100%;
		background: var(--theme-clr);
		/* background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%)); */
		position: relative;
	}

	.radio-design::before {
		content: '';
		display: block;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: #ccc;
		transform: scale(1);
		transition: var(--input-transition);
	}

	.radio-input:checked + .radio-design::before {
		transform: scale(0);
	}

	/* =============================================
		 SELECT
	================================================ */
	select {
		width: 100%;
		padding: var(--input-padding);
		margin: 0 0 1rem;
		font-size: var(--input-font-size);
		text-transform: uppercase;
		font-weight: var(--input-font-weight);
		font-family: var(--input-font);
		letter-spacing: var(--input-font-spacing);
		color: var(--font-clr);
		background-color: var(--input-background);
		border: var(--input-border);
		border-radius: var(--input-border-radius);
		appearance: none;
		cursor: pointer;
		background: url('../img/arrow-down.svg') no-repeat right 10px center;
		background-size: 15px;
	}
	select:focus {
		outline: none;
		border: var(--input-focus-border);
		background-color: var(--input-background-focus);
		box-shadow: var(--input-focus-boxshadow);
		transition:
			box-shadow 0.5s,
			border-color 0.25s ease-in-out;
	}
</style>
