---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import banner from '../img/banner.jpg';
---

<Layout>
	<div>
		<Picture src={banner} formats={['avif', 'webp']} quality="" alt="Banner Image" />
	</div>
	<div class="container top bottom">
		<div class="flex">
			<div>
				Images in the public/ folder, as well as remote images not specifically configured in your project, can also be used with the Image component, but will not be processed. can transform a local
				or authorized remote image’s dimensions, file type, and quality for control over your displayed image.
			</div>
			<div>
				<Picture src={banner} formats={['avif', 'webp']} quality="" alt="Banner Image" />
			</div>
		</div>
	</div>
</Layout>

<style></style>
