---
import Layout from '../layouts/Layout.astro';
//
import Accordion from '../components/Accordion.jsx';
import Tabs from '../components/Tabs.jsx';
---

<Layout>
	<div class="container top">
		<Accordion client:visible />
	</div>

	<div class="container top">
		<Tabs client:visible />
	</div>
</Layout>
