---
// import { Image } from 'astro:assets';
// import arrowDown from '../img/arrow-down.svg';

// export interface Props {
// 	activeColour?: string;
// 	headings: string[]; // array of strings
// 	contents: string[];
// }

// const { headings, contents } = Astro.props as Props;
---

<!-- <div class="accordion" title="Accordion">
	<div class="accordion-item" title="Accordion Items">
		<div class="accordion-header" title="Accordion Headings">
			{headings.map((headings) => <h2>{headings}</h2>)}
			<Image src={arrowDown} class="arrow" alt="Arrow Down" />
		</div>
		<div class="accordion-contents">
			{contents.map((contents) => <p>{contents}</p>)}
		</div>
	</div>
</div> --><!-- <script>
	const accordionItems = document.querySelectorAll('.accordion-item');

	accordionItems.forEach((item) =>
		item.addEventListener('click', () => {
			const isItemOpen = item.classList.contains('active');
			accordionItems.forEach((item) => item.classList.remove('active'));
			if (!isItemOpen) {
				item.classList.toggle('active');
			}
		})
	);
</script>

<style>
	.accordion {
		max-width: 400px;
		margin: 0 auto;
		position: relative;
		transform-style: preserve-3d;
	}
	.accordion .accordion-header {
		cursor: pointer;
		font-weight: bold;
		color: #292d34;
		position: relative;
		background: #f2f2f2;
		padding: 10px;
		transition: all 0.5s ease;
		border-bottom: #fff solid;
	}

	.accordion .accordion-header .arrow {
		position: absolute;
		right: 0rem;
		top: 1.5rem;
		transform: translate(-100%, -50%);
		transition: all 0.5s ease;
		width: 15px;
	}

	.accordion .accordion-item.active .accordion-header .arrow,
	.accordion .accordion-item:hover .accordion-header .arrow {
		transform: translate(-100%, -50%) rotate(180deg);
	}

	.accordion .accordion-item .accordion-content {
		color: #000;
		max-height: 0;
		font-weight: normal;
		padding: 0 1.5rem 0 0.25rem;
		opacity: 0;
		overflow: hidden;
		transition: all 0.5s linear;
		animation: slideDownReverse 0.5s ease-in;
	}

	.accordion .accordion-item .accordion-header:hover,
	.accordion .accordion-item.active .accordion-header:hover,
	.accordion .accordion-item.active .accordion-header {
		color: red;
	}
	.accordion .accordion-item.active .accordion-content {
		opacity: 1;
		max-height: 300px;
		animation: slideDown 1s ease-in-out;
	}

	@keyframes slideDown {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	@keyframes slideDownReverse {
		from {
			opacity: 1;
			transform: translateY(0px);
		}
		to {
			opacity: 0;
			transform: translateY(-10px);
		}
	}
</style> -->
