---
import Navigation from './Navigation.astro';
import { TITLE } from './Constants';
const currentYear = new Date().getFullYear();
---

<footer>
	<div>
		<Navigation />
	</div>
	<div></div>
	<div>
		<p>&copy; {currentYear} {TITLE}</p>
		<a href="/privacy">Privacy Policy</a>
	</div>
</footer>
