---
import Navigation from './Navigation.astro';
import Copyright from '../components/Copyright.astro';
---

<footer>
	<div>
		<Navigation />
	</div>
	<div></div>
	<div>
		<Copyright />
		<a href="/privacy">Privacy Policy</a>
	</div>
</footer>
