---
export interface Props {
	activeTextColour?: string;
	headings: string[]; // array of strings
	contents: string[];
}

const { headings, contents, activeTextColour = '#A741FF' } = Astro.props as Props;
---

<div class="grid-x grid-padding-x">
	<div class="cell medium-18 large-3" id="swiper-vertical-nav">
		<div class="swiper-pagination swiper-pagination-v"></div>
	</div>
	<div class="cell medium-18 large-15">
		<div class="swiper-container swiper-container-v">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="swiper-container swiper-container-h">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-32nd-south.jpg" alt="The Diamond 32nd Floor South View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-32nd-west.jpg" alt="The Diamond 32nd Floor West View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-32nd-north.jpg" alt="The Diamond 32nd Floor North View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-32nd-east.jpg" alt="The Diamond 32nd Floor East View" /></div>
						</div>
						<div class="swiper-pagination swiper-pagination-h"></div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-container swiper-container-h">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-25th-south.jpg" alt="The Diamond 25th Floor South View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-25th-west.jpg" alt="The Diamond 25th Floor West View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-25th-north.jpg" alt="The Diamond 25th Floor North View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-25th-east.jpg" alt="The Diamond 25th Floor East View" /></div>
						</div>
						<div class="swiper-pagination swiper-pagination-h"></div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-container swiper-container-h">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-20th-south.jpg" alt="The Diamond 20th Floor South View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-20th-west.jpg" alt="The Diamond 20th Floor West View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-20th-north.jpg" alt="The Diamond 20th Floor North View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-20th-east.jpg" alt="The Diamond 20th Floor East View" /></div>
						</div>
						<div class="swiper-pagination swiper-pagination-h"></div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-container swiper-container-h">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-15th-south.jpg" alt="The Diamond 15th Floor South View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-15th-west.jpg" alt="The Diamond 15th Floor West View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-15th-north.jpg" alt="The Diamond 15th Floor North View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-15th-east.jpg" alt="The Diamond 15th Floor East View" /></div>
						</div>
						<div class="swiper-pagination swiper-pagination-h"></div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-container swiper-container-h">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-10th-south.jpg" alt="The Diamond 10th Floor South View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-10th-west.jpg" alt="The Diamond 10th Floor West View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-10th-north.jpg" alt="The Diamond 10th Floor North View" /></div>
							<div class="swiper-slide"><img loading="lazy" src="img/bldg-a-10th-east.jpg" alt="The Diamond 10th Floor East View" /></div>
						</div>
						<div class="swiper-pagination swiper-pagination-h"></div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="swiper-container swiper-container-h">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="img/bldg-a-5th-south.jpg" alt="The Diamond 5th Floor South View" /></div>
							<div class="swiper-slide"><img src="img/bldg-a-5th-west.jpg" alt="The Diamond 5th Floor West View" /></div>
							<div class="swiper-slide"><img src="img/bldg-a-5th-north.jpg" alt="The Diamond 5th Floor North View" /></div>
							<div class="swiper-slide"><img src="img/bldg-a-5th-east.jpg" alt="The Diamond 5th Floor East View" /></div>
						</div>
						<div class="swiper-pagination swiper-pagination-h"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Swiper JS -->
	<link rel="stylesheet" href="assets/swiper.min.css" />
	<script src="assets/swiper.js"></script>

	<script>
		var floor = ['32th', '25th', '20th', '15th', '10th', '5th'];
		var direction = ['S', 'W', 'N', 'E'];

		var swiperV = new Swiper('.swiper-container-v', {
			//pagination: '.swiper-pagination-v',
			pagination: {
				el: '.swiper-pagination-v',
				clickable: true,
				renderBullet: function (index, className) {
					return '<span class="' + className + '">' + floor[index] + '</span>';
				},
			},
			paginationClickable: true,
			speed: 1500,
			direction: 'vertical',
			spaceBetween: 0,
		});

		var swiperH = new Swiper('.swiper-container-h', {
			//pagination: '.swiper-pagination-h',
			lazy: true,
			pagination: {
				el: '.swiper-pagination-h',
				clickable: true,
				renderBullet: function (index, className) {
					return '<span class="' + className + '">' + direction[index] + '</span>';
				},
			},
			paginationClickable: true,
			speed: 1500,
			direction: 'horizontal',
			spaceBetween: 0,
			nested: true,
		});
	</script>

	<script>
		var swiperVertBullet = $('.swiper-pagination-v .swiper-pagination-bullet');
		var swiperPageHor = $('.swiper-pagination-h');
		var swiperHorMenu = $('.swiper-pagination-h.swiper-pagination-bullets');

		$(swiperVertBullet).click(function () {
			$(swiperHorMenu).fadeOut(100).fadeIn(2000);
		});
	</script>
</div>
